 .content-flex-container {
  display: flex;
  flex-direction: column;
  }

.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 5vw;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 5vw;
  }
  
body {
  background-color: #3944bc;
}
  
html {
  font-family: "Comic Sans MS", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: blue;
}

aside {
  background-color: rgba(26, 158, 199, 0.8);
  font-size: .25vw;
  padding: 1.25vw;
  color: white;
  }

  section {
  background-color: rgba(26, 158, 199, 0.8);
  font-size: .25vw;
  padding: 1.25vw;
  color: white;
  }

  @media (min-width: 768px) {
  .content-flex-container
  {flex-direction: row;}

 section {
   flex: 2;
  font-size: 5vw;
    }
aside {
 flex: 2;
 font-size: 5vw;
  
  
  }
    h2 {
      font-size: 1.75vw;
  }
    header {
      font-size: 3vw
    }

  }
